.hero-wrapper {
	color: white;
	position: relative;
	padding-bottom: 2rem;
}

.hero-wrapper .hero-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	row-gap: 2rem;
}

/* Right Side  */
.img-container {
	width: 20rem;
	height: 25rem;
	overflow: hidden;
	border-radius: 15rem 15rem 0 0;
	border: 8px solid rgba(255, 255, 255, 0.12);
}

.img-container > img {
	width: 100%;
	height: 100%;
}

/* Left Side */

.hero-left {
	gap: 3rem;
}

.hero-title {
	z-index: 1;
	position: relative;
}

.hero-title > h1 {
	font-weight: 600;
	font-size: 3.8rem;
	line-height: 4rem;
	position: relative;
}

.orange-circle {
	height: 4rem;
	width: 4rem;
	background: var(--orange-gradient);
	border-radius: 999px;
	position: absolute;
	right: 28%;
	top: -10%;
	z-index: -1;
}

.searchBar {
	background-color: whitesmoke;
	border-radius: 10px;
	border: 1px solid rgba(120, 120, 120, 0.375);
	padding: 0.25rem;
	justify-content: space-between;
	width: 100%;
	gap: 0.25rem;
}

.searchBar > input {
	border: none;
	outline: none;
	color: darkslategray;
	font-size: 14px;
	line-height: 16px;
	padding: 0.6rem 0.25rem;
	background: whitesmoke;
	border-radius: 10px;
	flex: 1;
}

.stats {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.stat > :nth-child(1) {
	font-size: 1.5rem;
	display: flex;
	gap: 5px;
}

.stat > :nth-child(1) > :last-child {
	color: orange;
}

@media (max-width: 875px) {
	.hero-wrapper .hero-container {
		justify-content: center;
		row-gap: 2rem;
		padding: 1rem;
		flex-direction: column;
	}

	.hero-left > * {
		width: 100%;
		align-items: center;
	}

	.hero-title {
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
	}
	.hero-title > h1 {
		font-size: 3rem;
		line-height: 3.5rem;
		font-weight: 500;
	}
	.hero-right {
		width: 100%;
	}
}

@media (max-widh: 640px) {
	.hero-container {
		margin-top: 2rem;
	}
}
