.p-wrapper {
	padding: 20px;
	background: hwb(212 6% 74%);
}

.p-container {
	overflow: hidden;
	position: relative;
}

.r-head {
	margin-bottom: 2rem;
}

.r-card {
	gap: 0.6rem;
	border-radius: 10px;
	max-width: max-content;
	margin: 2rem auto;
	gap: 1rem;
	height: 440px;
	justify-content: flex-start;
	transition: scale 300ms ease-in-out;
}

.r-card:hover {
	scale: 1.05;
	cursor: pointer;
	box-shadow: 0px 72px 49px -51px rgba(136, 160, 255, 0.21);
}

.swiper-horizontal {
	overflow: visible !important;
}

.r-card > img {
	width: 100%;
	object-fit: cover;
}

.r-card > :nth-child(2) {
	padding: 0 5px;
	font-size: 1.2rem;
	font-weight: 600;
}

.r-card > :nth-child(3) {
	padding: 0 5px;
	font-size: 1.5rem;
	font-weight: 500;
}

.r-card > :nth-child(4) {
	padding: 0 5px;
	padding-bottom: 0.5rem;
	font-size: 0.8rem;
	font-weight: 500;
}
