.c-wrapper {
	background: hwb(212 6% 74%);
}
.c-container {
	justify-content: space-between !important;
}

.c-container > div {
	flex: 1;
}

.c-right {
	width: 100%;
}

.c-left {
	gap: 0.5rem;
	padding: 1rem;
}

.contactModes {
	padding: 0;
	width: 100%;
}

.contactModes > .searchBar {
	display: flex;
	border: none;
	outline: none;
	flex-direction: column;
	color: rgba(218, 165, 32, 0.534);
}

.contactModes > .searchBar > div {
	border: 1px solid rgba(218, 165, 32, 0.534);
	width: 100%;
	padding: 0.2rem;
	gap: 1rem;
	border-radius: 10px;
}
.icon {
	padding: 0;
	background: transparent;
	margin-left: 5px;
}
.contactModes > .searchBar > div > .customInput {
	flex: 1;
	font-size: 1rem;
	width: 100%;
	font-weight: 600;
	line-height: 1.4rem;
	padding: 0.8rem;
	border: none;
	outline: none;
}

.searchBar > span > .custombutton {
	padding: 1rem 2rem;
	border-radius: 4px;
	margin: 1rem 0.6rem;
	border: 1px solid rgba(218, 165, 32, 0.534);
}

@media (max-width: 875px) {
	.c-container {
		width: 100vw;
		margin: auto;
		padding: 5px;
	}
}
