:root {
	--primary: #1f3e72;
	--secondary: rgba(222, 4, 4, 0.78);
	--fontColor: whitesmoke;
	--black: #131110;
	--blue-gradient: linear-gradient(97.05deg, #4066ff 3.76%, #2949c6 100%);
	--orange-gradient: linear-gradient(270deg, #ffb978 0%, #ff922d 100%);
	--blue: #4066ff;
	--light-blue: #eeeeff;
	--shadow: 0px 23px 21px -8px rgba(136, 160, 255, 0.25);
	--font-family: 'Montserrat', sans-serif;
}

.h-wrapper {
	color: var(--secondary);
}

.h-wrapper .h-container {
	justify-content: space-between;
	padding: 1rem 0;
	color: var(--secondary);
}

.h-menu {
	gap: 2rem;
}
.h-menu > a:hover {
	cursor: pointer;
}
