.v-wrapper {
	background: hwb(212 6% 70%);
}
.v-container {
	justify-content: center;
	gap: 1rem;
}
.v-container > div {
	width: calc(50% - 10px);
}

.accordion {
	margin-top: 2rem;
	border: none;
	width: 100%;
}
.v-right {
	gap: 1rem;
}
.accordionItem {
	background-color: whitesmoke;
	border: 0.8px solid goldenrod;
	border-radius: 8px;
	overflow: hidden;
	margin-bottom: 1rem;
}

.accordionButton {
	justify-content: space-between;
	cursor: pointer;
}

.icon {
	padding: 10px;
	color: goldenrod;
	border-radius: 5px;
}

.accordionButton .primaryText {
	font-size: 1.1rem;
}

.accordionPanel p {
	text-align: justify;
	padding: 0.5rem;
}

.accordionItem.expanded {
	box-shadow: var(--shadow);
	border-radius: 6px;
}

@media (max-width: 900px) {
	.v-container > div {
		width: 100vw;
		margin: auto;
		padding: 5px;
	}
}

@media (max-width: 500px) {
	.v-container {
		width: 100%;
		gap: 1rem;
	}
	.v-container .accordionButton {
		justify-content: space-between;
		padding: 1rem;
	}
	.v-container .secondaryText {
		font-size: 0.6rem;
	}
	.v-container .primaryText {
		font-size: 0.8rem;
	}
	.v-container .icon {
		width: 1rem;
	}
}
