footer {
	width: 100%;
	bottom: 0;
	background: linear-gradient(to right, #010627, var(--black));
	color: #fff;
	padding: 2rem 0;
}

.f-container {
	width: 100%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
}

.col {
	flex-basis: 24%;
	align-items: center;
	justify-content: flex-start;
	padding: 1rem 0.5rem;
}
.col_two > div {
	margin: 0.5rem 0;
	color: rgba(218, 165, 32, 0.534);
}

.col_two .footer-email {
	gap: 10px;
}

.col p,
.col_two div,
.col-three ul {
	width: 100%;
	font-size: 1.2rem;
	line-height: 2rem;
}
.col-three ul {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	list-style: none;
}

.col-three li {
	padding: 0.5rem 0;
}

.col-three ul li a {
	text-decoration: none;
	padding: 8px 5px;
}

.col-three ul li a:hover {
	border-bottom: 2px solid slategray;
	transition: border-bottom 300ms ease-in-out;
	box-shadow: 0px 2px 0px slategray;
}

.col-four {
	background-color: rgba(255, 255, 255, 0.1);

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 10px;
	padding: 1rem 1.5rem;
	border-radius: 10px;
}

.col-four .primaryText {
	font-size: 1.2rem;
	font-weight: 800;
}

.col-four button {
	margin: 1rem 0;
}

@media (max-width: 1024px) {
	.f-container {
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	.f-container > * {
		justify-content: center;
		margin: 1rem auto;
		flex-basis: 32%;
	}
}

@media (max-width: 768px) {
	.f-container {
		flex-direction: column;
	}
	.f-container .col {
		width: 100%;
	}
}
