footer {
	width: 100%;
	bottom: 0;
	background: linear-gradient(to right, #010627, var(--black));
	color: #fff;
	padding: 2rem 0;
}

.f-container {
	width: 100%;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
	gap: 20px; /* Space between columns */
	align-items: flex-start;
}

.col {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 1rem 0.5rem;
}

.col_two > div {
	margin: 0.5rem 0;
	color: rgba(218, 165, 32, 0.534);
}

.col_two .footer-email {
	display: flex;
	align-items: center;
	gap: 10px;
}

.col p,
.col_two div,
.col-three ul {
	width: 100%;
	font-size: 1.2rem;
	line-height: 2rem;
}

.col-three ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.col-three li {
	padding: 0.5rem 0;
}

.col-three ul li a {
	text-decoration: none;
	padding: 8px 5px;
	color: inherit;
}

.col-three ul li a:hover {
	border-bottom: 2px solid slategray;
	transition: border-bottom 300ms ease-in-out;
	box-shadow: 0px 2px 0px slategray;
}

.col-four {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	padding: 1rem 0.5rem;
}

.col-four .primaryText {
	font-size: 1.2rem;
	font-weight: 800;
	text-align: center;
}

.col-four button {
	margin: 1rem 0;
}

/* At 1234px, show two items in a row */
@media (max-width: 1234px) {
	.f-container {
		grid-template-columns: repeat(2, 1fr); /* 2 columns */
		gap: 20px;
	}

	.col {
		align-items: center;
		text-align: center;
	}
}

@media (max-width: 1024px) {
	.f-container {
		grid-template-columns: repeat(2, 1fr); /* 2 columns for tablets */
		gap: 15px;
	}

	.col {
		align-items: center;
		text-align: center;
	}

	.col-four .primaryText {
		text-align: center;
	}
}

@media (max-width: 768px) {
	.f-container {
		grid-template-columns: 1fr; /* 1 column for mobile */
		gap: 10px;
	}

	.col {
		align-items: center;
		text-align: center;
		width: 100%;
	}

	.footer-email {
		display: flex;
		justify-content: center;
		text-align: center;
	}
}
